*{
    box-sizing: border-box;
}

body{
    background-color:black;
    background-image:
    radial-gradient(rgb(255, 255, 255), #9f8db550 2px, transparent 40px),
    radial-gradient(white, #9f8db560 1px, transparent 30px),
    radial-gradient(white, #9f8db570 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), #9f8db540 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    font: normal 18pt Arial;
    transition: .5s ;
    color: #d3d3d3;
    padding: 5rem;
}
header{
    color: #ebebeb;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}


section{
    text-align: center;
    background: rgba(255, 255, 255, 0.165);
    border-radius: 10px;
    padding: 50px;
    margin: auto;
    box-shadow: 5px 5px 10px 
    rgba(133, 133, 133, 0.222);
    font-size: 30px;

}

#botaoInicio {
    display: inline-block;
    padding: 10px;
    background-color: #81818150;
    color: #ffffff;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

#botaoInicio:hover {
    background-color: #dadada73;
}

.icone {
    width: 50px; 
    height: 50px;
    margin: 10px; 
    vertical-align: middle;
    align-items: center; 
}

#choiseButton{
    display: inline-block;
    padding: 10px;
    margin: 20px;
    background-color: #81818150;
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10%;
    transition: background-color 0.3s ease;
}

#picture{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: double black 5px;
    margin: 20px;
    
}

#res{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

div#name{
    text-align: center;
    font-style: italic;  
}

footer{
    font: 18pt Arial;
    text-align: center;
    font-style: italic;

}


