body{
    background-color:black;
    background-image:
    radial-gradient(rgb(255, 255, 255), #9f8db550 2px, transparent 40px),
    radial-gradient(white, #9f8db560 1px, transparent 30px),
    radial-gradient(white, #9f8db570 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), #9f8db540 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    font: normal 18pt Arial;
    transition: .5s ;
    color:#000000;
}
header{
    color: #818181;
    font-family: 'Times New Roman';
    text-align: center;
}
#botaoInicio{ 
    width: 200px;
    height: 200px;
}
#botaoInicio:hover{
    background: #33333369;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
    border-radius: 15%;
}

section{
    text-align: center;
    background: rgba(255, 255, 255, 0.165);
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    margin: auto;
    box-shadow: 5px 5px 10px 
    rgba(133, 133, 133, 0.222);
    font-size: 30px;

}


/* Elemento de classe "botao" */
.botao {
    width: 500px;
    height: 40px;
    font-size: 30px;
    background: #333333;
    border: 2px solid #333;
    border-radius: 15px;
    margin-bottom: 1em;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #33333369;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

#picture{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    
}

div#name{
    text-align: center;
    font-style: italic;  
}

footer{
    font: 18pt Arial;
    text-align: center;
    font-style: italic;

}


